# Backend
DATABASE_URL=postgresql://cheguei:cheguei123@localhost:5432/cheguei
JWT_SECRET=cheguei-local-secret-key-change-in-prod
PORT=3001
UPLOAD_DIR=./uploads

# Web
VITE_API_URL=http://192.168.18.152:3001
VITE_WS_URL=http://192.168.18.152:3001

# Mobile (Expo)
EXPO_PUBLIC_API_URL=http://192.168.18.152:3001
